@model ExpenseManagement.ViewModel.EstatisticasViewModel

<div>
    <p>Despesas cadastradas: @Model.QtdeDespesas</p>
    <p>Menor despesa: @Model.MenorDespesa</p>
    <p>Maior despesa: @Model.MaiorDespesa</p>
</div>